.about-us
	background-color #0a0a0a
	&__title
		color #fff
		font-size 56px
		text-align: center
		font-family: "bebas-neue"
		padding 30px 0
	&__content
		padding 30px 0 60px 0
	&__items
		font-size: 0
	&__desc
		font-size 18px
		color #fff
		width 50%
		vertical-align top
		display inline-block
		padding-right 35px
		@media xs-all
			width 100%
			padding-right 0
		h1
			font-family: "bebas-neue"
			font-size: 40px
	&__pic
		background-image: url("../img/index/Bitmap.png")
		width 50%
		display inline-block
		vertical-align top
		height 281px
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		transform: scale(1)
		transition: all 0.7s ease-in-out
		@media xs-all
			width 100%
			margin-top: 20px
		&:hover
			transform: scale(1.1)
			transition: all 0.7s ease-in-out
	&__big-pic
		// background-image: url("../img/index/Bitmap.png")
		width 100%
		height 616px
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		margin-top: 65px
		@media xs-all
			height 281px
		iframe
			width 100%
			height 100%
	&__text
		font-size: 56px
		font-family: "bebas-neue"
		color #fff
		text-align: center
		padding-top 100px
		p
			font-size 18px
			font-family "bebas-neue"
		ul
			font-family "bebas-neue"
			font-size 18px
		li
			font-family "bebas-neue"
			font-size 18px
		span
			font-family "bebas-neue"
			font-size 18px
		h1, h2, h3, h4, h5, h6
			font-family "bebas-neue"
			