// Fonts mixin
font_generate(font_folder, font_name, font_family, font_weight = 'normal', font_style = 'normal'){
	
	prefix = "../fonts/" + font_folder + '/' + font_name

	@font-face {
		font-family font_family
		src url(prefix + '.woff') format('woff'),
			url(prefix + '.woff2') format('woff2'),
			url(prefix + '.ttf') format('truetype')
		font-weight font_weight
		font-style font_style
	}
}

font_generate('GothamPro', 'GothamPro', 'GothamPro', 400)//regular
font_generate('GothamPro', 'GothamPro-Light', 'GothamPro', 300)//light
font_generate('GothamPro', 'GothamPro-Black', 'GothamPro', 900)//black
font_generate('bebas-neue', 'Bebas-Neue_bold', 'bebas-neue', 700)//bold




