.page-footer
	background-color: #0A0A0A
	// height 90px
	// margin-top -90px
	height 60px
	margin-top -60px
	@media xs-all
		height auto
	@media md
		height auto
	&__wrapper
		display flex
		justify-content space-between
		flex-direction row
		align-items center
		@media xs-all
			flex-direction column
		@media md
			flex-direction column
	&__social
		padding-top 20px
		@media xs-all
			text-align center
			padding 20px 0
		@media md
			text-align: center
			padding 20px 0 0
	&__follow
		font-size 16px
		display inline-block
		color #fff
		margin-bottom: 0
		vertical-align middle
		@media xs-all
			display block
	.social-buttons
		display inline-block
		padding-left: 30px
		vertical-align middle
		@media xs-all
			padding-left: 0
			padding-top: 20px
			display block
		i
			font-size: 22px
			padding 0 8px
	&__year
		color #fff
		font-size: 16px
		display inline-block
		@media xs-all
			display block
	&__text
		color #fff
		display inline-block
		font-size:  16px
		padding-left: 30px
		@media xs-all
			padding-left: 0
			padding-top: 20px
			display block
			font-size 14px
		@media md
			padding-bottom 20px