header
	width 100%
	.logo
		&__wrap
			background-image: url('../img/logo.png')
			width 107px
			height 78px
			background-position: center
			background-repeat: no-repeat
			background-size: contain
			transition all .5s linear
			&:hover
				background-image url('../img/logo_hover.png')
				width 107px
				transition all .5s linear
				height 78px
			&__mobile
				margin 0 auto
				padding 120px 0 50px 0
				display block
				position static
	.lang-wrapper
		form
			display flex
			justify-content space-between
			flex-wrap wrap
			align-items center
	.lang-wrap
		display inline-block
		font-size: 18px
		font-weight 300
		padding 27px 5px 0 5px
		a
			display inline-block
			vertical-align middle
			text-align center
			min-width: 40px
			&:hover,
			&:focus
				font-weight: 900
	.nav-wrap
		display inline-block
		font-size: 18px
		padding-top 27px
		a
			display inline-block
			vertical-align middle
			text-align center
			min-width: 110px
			&:hover,
			&:focus
				font-weight: 900
		&__mobile
			display block
			padding-top: 50px
	.burger-click-region 
		right 40px
		top 40px
		width 40px
		height 30px
		cursor pointer
		position: fixed
		z-index 9999
		transition .3s
		@media xs-all
			right 20px
			top 20px
		@media xs
			width 30px
		@media md
			right 20px
			top 40px
		&:hover
			span
				transition .3s
				border-color #60c5c0
		span
			transition .3s
			@media xs
				width 30px
	.burger-menu-txt 
		position: absolute
		right: -340px
		padding 50px 15px
		text-align: center
		opacity 0
		top 0
		// width 260px -old
		width 210px
		height 100vh
		background-color: #0e0e0e
		transition: opacity 500ms ease-out, transform 500ms ease-in-out
		position fixed
		&.is-open
			opacity: 1
			transform: translate3d(-340px, 0, 0)
			z-index 9998
			transition: .5s
			transition-timing-function: cubic-bezier(0.53, 0.25, 0.89, 0.76);
			transition-delay: .1s;
	.burger-menu-piece 
		display: block
		position: absolute
		width: 40px
		border-top: 6px solid #fff
		transform-origin: 50% 50%
		transition: transform $menu-animation-duration $menu-animation-timing
		&:nth-child(1) 
			top: 0
		&:nth-child(2) 
			top: 12px
			opacity: 1
			transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear 200ms
		&:nth-child(3) 
			top: 24px
		&.active
			border-top: 6px solid #6ec4c2
			&:nth-child(1) 
				animation: burger-open-top $menu-animation-duration $menu-animation-timing forwards
			&:nth-child(2) 
				opacity: 0
				transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear 200ms
			&:nth-child(3) 
				animation: burger-open-bot $menu-animation-duration $menu-animation-timing forwards
		&.closing 
			&:nth-child(1) 
				animation: burger-close-top $menu-animation-duration $menu-animation-timing forwards
			&:nth-child(3) 
				animation: burger-close-bot $menu-animation-duration $menu-animation-timing forwards
		@keyframes burger-open-top 
			50%
				transform: translate3d(0, 12px, 0)
			100%
				transform: translate3d(0, 12px, 0) rotate(45deg)
		@keyframes burger-open-bot 
			50%
				transform: translate3d(0, -12px, 0)
			
			100%
				transform: translate3d(0, -12px, 0) rotate(-45deg)
		@keyframes burger-close-top 
			0%
				transform: translate3d(0, 12px, 0) rotate(45deg)
			50%
				transform: translate3d(0, 12px, 0) rotate(0deg)
			100%
				transform: translate3d(0, 0, 0)
		@keyframes burger-close-bot 
			0%
				transform: translate3d(0, -12px, 0) rotate(-45deg)
			50%
				transform: translate3d(0, -12px, 0) rotate(0deg)
			100%
				transform: translate3d(0, 0, 0)