.vimeo-wrapper
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% + 2px);
	height: 100%;
	pointer-events: none;
	overflow: hidden;
	transition .5s
	opacity 1
	transition-property opacity
	transition-delay: .2s
	transition-duration: .3s
	// transition: opacity 0.6s 0.3s
	// @media xs-all
		// display none
	iframe
		width: 100vw;
		height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
		min-height: 100vh;
		min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	&.off
		transition-delay: 0s
		// transition: opacity 0.5s 0.2s
		opacity 0
.main-block
	background-image: url('../img/index/bg.jpg')
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	background-color: #000
	height: 100vh
	width 100%
	&__title
		display block
		font-size: 56px
		font-weight: 700
		font-family: $bebas-neue
		color #fff
		@media xs-all
			padding-top: 40vh
		@media md
			padding-top: 40vh
		@media lg
			padding-top: 40vh
	.header__static
		padding-top 40px
		padding-bottom: 40vh
		@media xs-all
			display none
		@media md
			display none
		@media lg
			display none
	&__button
		width 210px
		border-bottom-width 150px
		text-align: center
		margin-top: 50px
		height 46px
		position relative
		button
			background-color: inherit
			color #ffff
			border 0
			text-align: center
			width 100%
			&:hover
				color #6ec4c2
		&:before
			left 0
			height 2px
			width 60%
			position absolute
			top 0
			background-color: #FFF
			content ''
			transition: all 0.5s linear
		&:after
			right 0
			height 2px
			width 70%
			position absolute
			bottom 0
			background-color: #FFF
			content ''
			transition: all 0.5s linear
		&:hover:after
			width 100%
			transition: all 0.5s linear
		&:hover:before
			width 100%
			transition: all 0.5s linear
		.button__line
			font-size: 20px
			font-weight: 500
			padding 10px 0
			display: block
	.blocks-big-logo
		width 50%
		position absolute
		right 0
		bottom 0
		max-width: 600px
		max-height: 70%
		@media xs-all
			display none
	svg
		.st0
			transition .2s
			opacity 0
		.st0:hover + .st5
			transition .2s
			opacity 0
		.st0:hover
			transition .3s
			opacity 1
	&__big__logo
		background-image url('../img/index/big_logo.png')
		width 100%
		height 326px
		cursor: pointer
		background-size: contain
		background-repeat: no-repeat
		transition: all 0.5s linear
		@media xs-all
			display none
		@media md
			width 547px
			height 391px
		@media lg
			width: 603px
			height: 431px
	&__big__logo:hover
		background-image url('../img/index/big_logohover.png')
		width 100%
		height 326px
		cursor: pointer
		transition: all 0.5s linear
		@media md
			width 547px
			height 391px
		@media lg
			width: 603px
			height: 431px
	&__arrows-bottom
		position absolute
		bottom 20px
		left 50%
		transform translateX(-50%)
		animation: bounce 1s infinite alternate
		@media xs-all
			right 20px
			transform unset
			left auto
	@keyframes bounce
		from
			transform: translateY(0px)
		to
			transform: translateY(-15px)
	.svg
		position absolute
		top 140px
		right -700px
.project
	background-color: #000000
	// width 500px
	position relative
	min-height 830px
	height 100vh
	@media xs-all
		min-height auto
		height: auto
	&__pic
		max-width 346px
		height 188px
		width 100%
		background-size: cover
		margin 0 auto
		margin-top: 189px
		transition: all 0.4s ease-in
		@media xs-all
			max-width 290px
			margin-top: 20px
		@media md
			margin-top: 20px
			max-width 500px
			height 275px
		@media lg
			margin-top: 20px
			max-width 500px
			height 275px
		&:hover
			transform scale(1.1)
			transition all .4s ease-in-out
	&__desc
		transition: all 0.4s ease-in
		padding: 45px 150px
		line-height: 0.5
		opacity 0.3
		@media xs-all
			opacity 1
			font-size: 18px
			padding 20px
			color #fff
			line-height: unset
			p
				margin-bottom: 0
		@media md
			opacity 1
			font-size: 18px
			color #fff
			line-height: unset
			p
				margin-bottom: 0
		@media lg
			opacity 1
			font-size: 18px
			color #fff
			line-height: unset
			p
				margin-bottom: 0	
	&-slider
		width 100%
	&__item
		min-height 489px
		@media xs-all
			min-height auto
		@media md
			min-height 460px
	.slick-center
		.project__pic
			max-width 689px
			height 374px
			width 100%
			margin-top: 0
			transition: all 0.4s ease-in
			background-size: contain
			background-repeat no-repeat
			&:hover
				transform scale(1)
		.project__desc
			text-align: left
			color #fff
			font-size 18px
			padding: 45px 150px
			display block
			transition: all 0.5s ease-in
			line-height: initial
			opacity 1
			p
				margin-bottom 5px
	.project-slider__prev
		background-image url('../img/index/prev.png')
		width 38px
		height 26px
		position absolute
		top 200px
		cursor: pointer
		left 5%
		transition .3s
		@media xs
			top 140px
		@media sm
			top 100px
		&:hover
			background-image url('../img/index/prev-b.png')
			transition .2s
		&:active
			filter brightness(0.6)
	.project-slider__next
		background-image url('../img/index/next.png')
		width 38px
		height 26px
		position absolute
		top 200px
		cursor: pointer
		right 5%
		transition .3s
		@media xs
			top 140px
		@media sm
			top 100px
		&:hover
			background-image url('../img/index/next-b.png')
			transition .2s
		&:active
			filter brightness(0.6)
	&__button
		.main-block__button
			margin 30px auto 0
.services
	background-color: #000000
	min-height 100vh
	will-change height
	@media xs-all
		height 100%
		min-height 100%
	@media md
		height 100%
		min-height 100%
	&__item
		width 100%
		padding 25px 20px
		border: 1px solid #6ec4c2
		transition: all 0.4s linear
		max-height 240px
		overflow hidden
		margin 20px 0
		position relative
		display block
		will-change height, box-shadow
		&:hover
			box-shadow: 0 0 55px #6ec4c2
			max-height 100%
			transition: all 0.4s linear
			will-change height, box-shadow
			.services__list	
				transition: all 0.4s linear
				opacity 1
				will-change opacity
			.services__desc
				-webkit-line-clamp: unset
				max-height: unset
		&:after
			@media xs-all
				background-image url('../img/index/arrows_button.png')
				width 17px
				height 34px
				content ''
				position absolute
				bottom 20px
				right 20px
				transition: all 0.5s linear
		&:hover:after
			transform rotate(180deg)
			transition: all 0.5s linear
	&__title
		color #fff
		font-size: 22px
		font-weight 600
	&__desc
		font-size: 18px
		color #fff
		padding 15px 0
		overflow: hidden
		text-overflow: ellipsis
		display: -webkit-box
		-webkit-box-orient: vertical
		-webkit-line-clamp: 6
		max-height: 156px
	&__list
		color #fff
		font-size: 18px
		opacity 0
		transition: all 0.5s linear
		margin-top 20px
		will-change opacity
		ul
			list-style: none
			margin-bottom: 0
			padding-left: 0
			li:before
				content '—'
				position relative
				left -5px
.partnership
	background-color: #000000
	&__item
		width 100%
		height 150px
		position relative
		img
			position absolute
			left 50%
			top 50%
			transform translate(-50%, -50%)
			filter: grayscale(95%)
			transition: all 0.5s linear
			will-change transform, filter
			&:hover
				filter: grayscale(0%)
				transform scale(1.1) translate(-45%, -45%)
				transition: all 0.2s linear
.awards
	background-color: #000000
	font-size: 0
	&__items
		display inline-block
		width 50%
		position relative
		min-height 82px
		margin 20px 0
		img
			left 50%
			top 50%
			transform translate(-50%, -50%)
			position absolute
		@media xs-all
			width 100%
			display block
	&__desc
		font-size: 18px
		color #fff
		position absolute
		top 50%
		transform translateY(-50%)
		@media xs-all
			width 100%
			text-align: center
.feedback
	background-color: #000000
	.form-control
		font-size: 22px
		color #fff
		background-color inherit
		border 0
		border-bottom 1px solid #fff
		padding 30px 20px
		&:focus
			box-shadow: unset
	input::-webkit-input-placeholder
		color #fff
	input::-moz-placeholder
		color #fff
	input:-moz-placeholder
		color #fff
	input:-ms-input-placeholder
	.error
		border-color #39cac1
		color #fff
	input.error::-webkit-input-placeholder
		color #39cac1
	input.error::-moz-placeholder
		color #39cac1
	input.error:-moz-placeholder
		color #39cac1
	input.error:-ms-input-placeholder
		color #39cac1
	&__button
		.main-block__button
			margin 50px auto 0
	&__desc
		color #fff
		font-size: 22px
	&__pic
		width 100%
		position relative
		min-height 422px
		img
			position absolute
			left 50%
			transform translateX(-50%)
	&__number
		color #fff
		font-size 22px
		padding: 30px 0
		position relative
		p
			margin-bottom 0px
			padding-left: 40px
		a
			opacity 0.5
			padding-left: 40px
		p
			a
				padding-left: 0px
		&:after
			content ''
			position absolute
			left 0
			top 50%
			transform translateY(-50%)
			background-image url('../img/index/phone.png')
			width 12px
			height 21px
			opacity 1
	&__email
		font-weight: 500
		color #fff
		font-size: 22px
		position relative
		a
			padding-left: 40px
		p
			padding-left: 40px
		p
			a
				padding-left: 0px
		&:after
			content ''
			position absolute
			left 0
			top 50%
			transform translateY(-50%)
			background-image url('../img/index/email.png')
			width 19px
			height 16px
	&__logo
		margin-top: 40px
		width 100%
		@media md
			margin-bottom 40px
		@media xs-all
			margin-bottom 40px
.services__button
	padding-top 60px
	@media xs-all
		padding-top 25px
	.main-block__button
		margin 0 auto
		