.portfolio
	background-color #0a0a0a
	@media xs-all
		padding 100px 0 40px 0
	@media md
		padding 100px 0 40px 0
	&__header
		padding 40px 0
		@media xs-all
			display none
	&__title
		color #fff
		font-family: "bebas-neue"
		font-size: 56px
		text-align: center
		padding 40px 0
		border-bottom: 1px solid #979797
	&__tabs
		.nav
			align-items: center
			justify-content: center;
		.nav-tabs
			border: 1px solid #60c5c0
			.nav-link
				font-size: 24px
				font-weight 500
				cursor: pointer
				padding 10px 20px
			.nav-link.active
				color #6ec4c2
				background-color: inherit
				border-color transparent
				font-weight: 700
			.nav-link:focus,
			.nav-link:hover
				border-color transparent
		&-title
			color #fff
			font-size 24px
			font-weight 700
			text-align center
			padding 10px 0
		.tab-content
			font-size: 0
		&-items
			display inline-block
			width 33.3333%
			padding 15px
			@media xs-all
				width 100%
			@media md
				width 50%
			@media lg
				width 50%
		&-pic
			text-align: center
			background-image: url("../img/d-im.png")
			width 100%
			height 216px
			background-size: cover
			background-repeat: no-repeat
			background-position: center
			transform: scale(1)
			transition: all 0.7s ease-in-out
			&:hover
				transform: scale(1.1)
				transition: all 0.7s ease-in-out
		&-desc
			font-size: 18px
			color #fff
			padding 20px 0
			// white-space: nowrap 
			overflow: hidden
			text-overflow: ellipsis
			h1
				font-size 36px
				font-weight: 700
			p
				margin-bottom 2px
		&-more
			font-size: 20px
			color #fff
			padding-top 15px
	.modal-content
		background-color #0a0a0a
		box-shadow 0 0 55px #6ec4c2
		border 1px solid #6ec4c2
	.close
		font-size 26px
		font-weight 100
		color #6ec4c2
		text-shadow unset
		opacity 1
	.close:not(:disabled):not(.disabled):hover
		color #fff
		outline none
	.modal-header
		border unset
	.modal-title
		color #fff
		font-weight bold
		font-size 36px
	.modal-footer
		border unset
	.modal-body
		color #fff
		font-size 18px
		p
			margin-bottom 25px
	.modal-pic
		width 100%
	.modal
		z-index 9999
		