.services-inside
	background-color: #0a0a0a
	&__wrapper
		margin 60px 0
		font-size 0
		@media xs
			padding 35px 0
			margin 0
		@media sm
			padding 55px 0 35px
			margin 0
		@media md
			padding 60px 0
			margin 0
	&__title
		color #fff
		font-size 56px
		font-weight 700
		text-align center
		font-family: 'bebas-neue'
		padding-bottom 30px
		@media xs
			font-size 36px
			padding-top 90px
		@media sm
			padding-top 60px
			font-size 36px
			width 90%
			margin 0 auto
		@media md
			width 60%
			margin 0 auto
		@media xl
			width 48%
			margin 0 auto
		@media lg
			width 48%
			margin 0 auto
	&__items
		display inline-block
		width 50%
		vertical-align top
		@media xs-all
			width 100%
		@media md
			width 100%
	&__pic
		background-image: url("/img/index/Bitmap.png")
		width 100%
		height 334px
		background-size: contain
		background-repeat: no-repeat
		background-position: top center
		@media xs-all
			height 200px
	&__name
		font-size 40px
		font-weight 700
		color #fff
		font-family: 'bebas-neue'
		line-height 1
		padding-right 30px
		padding-bottom 55px
		@media xs-all
			font-size 30px
			text-align center
			padding-right 0
			padding-bottom 20px
		@media md
			padding-bottom 25px
			padding-right 0
	&__nav
		color #fff
		font-size 18px
		cursor pointer
		padding-bottom 5px
		@media xs-all
			text-align center
	&__nav.active
		font-weight 900
		text-shadow: unset
	&__desc
		display none
		padding-top: 25px
		font-size 18px
		color #fff
		padding-right 55px
		@media xs-all
			padding-right 0
			text-align center
			padding-bottom 25px
		@media md
			padding 25px 0
	&__desc.active
		display block
	&__slide
		margin 0 10px
		@media xs-all
			margin 0
	.services-slider
		&__wrapper
			position: relative
		&__prev,
		&__next
			position absolute
			top 20px
			width 38px
			height 26px
			cursor pointer
			z-index 555
			@media xs
				top 85px
			@media sm
				top 120px
			@media md
				top 80px
		&__prev
			background-image: url("../img/index/prev.png")
			left 250px
			@media xs
				left 20px
			@media sm
				left -38px
			@media md
				left 80px
			@media lg
				left 200px
			transition .3s
			&:hover
				transition .3s
				background-image: url("../img/index/prev-b.png")
			&:active
				filter brightness(0.6)
		&__next
			background-image: url("../img/index/next.png")
			right 250px
			@media xs
				right 20px
			@media sm
				right -38px
			@media md
				right 80px
			@media lg
				right 200px
			transition .3s
			&:hover
				transition .3s
				background-image: url("../img/index/next-b.png")
			&:active
				color red
				filter brightness(0.6)