@import '_fonts'
@import '_config'


*
	color #010101
	font-family $noto
.row
	margin-bottom 30px
img
	max-width 100%
	height auto !important
	margin-bottom 20px
h2
h3
h4
h5
h6
	text-transform uppercase
	color #010101
	max-width 100%
	word-wrap break-word
	font-family $museo
	&:first-child
		margin-top 0px
a
	color #4a4784
	&:hover,
	&:focus,
	&:active
		color #4a4784
table
	max-width 100%
	border-collapse collapse
	td
		padding 10px 5px 10px 5px
		vertical-align middle
		border 3px solid #ebebf4
		*
			margin-bottom 0px
			padding-bottom 0px
			margin-top 0px
			padding-top 0px
iframe
	max-width 100%
h1
	font-size 3.5em
h2
	font-size 3em
h3
	font-size 2.5em
h4
	font-size 2em
h5
	font-size 1.8em
h6
	font-size 1.5em
p
	font-size 1em
	color #010101
	font-family $museo
	@media xs
		font-size 16px