@import '_config'
@import '_fonts'
@import '_header'
@import '_footer'


body
	-webkit-overflow-scrolling: touch   
html,body
	max-width 100%
	min-height 100%
	height:100%
	overflow:auto
body
	transition background .3s ease
	width 100%
	position relative
	min-width 320px
	max-width 100%
	font-family 'GothamPro'
	font-weight 300
	font-size 14px
	line-height 1.3
	overflow-x hidden
	padding-right 0px !important
	overflow-y scroll !important
a
	color #fff
	&:hover,
	&:focus
		color #6ec4c2
		text-decoration: none
a.social-button
	display inline-block
::-webkit-scrollbar
	width: 0px  /* remove scrollbar space */
	background: transparent  /* optional: just make scrollbar invisible */
	background: #FF0000

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb
	background: #FF0000

.loaderArea
	overflow: hidden
	position: fixed
	left: 0
	top: 0
	right:0
	bottom:0
	z-index: 100000
	background-color #fff
	background-image url("/img/final_NW.gif")
	background-position center
	background-repeat no-repeat
.portfolio__header
	@media md
		display none
.main__title
	text-align: center
	color #ffff
	font-size 56px
	font-weight: 700
	padding 90px 0 53px 0
	width 100%
	text-transform: uppercase
	font-family: $bebas-neue
	@media xs-all
		font-size 36px
		padding 40px 0 30px 0
.main__subtitle
	color #fff
	font-size 18px
	width 382px
	margin 0 auto
	margin-bottom: 50px
	@media xs-all
		width 100%
.slick-dots 
	li 
		button:before
			color #fff
	li.slick-active 
		button:before
			color #fff
.logo
	&__wrap
		background-image: url('../img/logo.png')
		width 107px
		height 78px
		background-position: center
		background-repeat: no-repeat
		background-size: contain
		transition all .5s linear
		&:hover
			background-image url('../img/logo_hover.png')
			width 107px
			transition all .5s linear
			height 78px
		@media(min-width 1200px) and (max-width 1500px)
			left: 0
.lang-wrap
	display inline-block
	font-size: 18px
	font-weight 300
	padding 27px 5px 0 5px
	a
		display inline-block
		vertical-align middle
		text-align center
		min-width: 40px
		&:hover,
		&:focus
			font-weight: 900
.lang-wrap.active
	a
		color: #6ec4c2
		font-weight 900
		text-decoration none
.page-inner
	height 100%
.page-content
	min-height: 100%
	// padding-bottom 90px
	padding-bottom 60px
	background-color: #0a0a0a
.nav-wrap
	display inline-block
	font-size: 18px
	padding-top 27px
	a
		display inline-block
		vertical-align middle
		text-align center
		min-width: 110px
		&:hover,
		&:focus
			font-weight: 900
.cp
	cursor: pointer
.video
	&-fbox
		width: 100%
		height: 100%
.playIco
	position: relative
	&:after
		font-family 'FontAwesome'
		content "\f16a"
		position: absolute
		font-size: 52px
		width: 52px
		left: 50%
		top: 50%
		color #0a0a0a
		transform translateY(-50%) translateX(-50%)
.van-Gogh.active
	transition 3s
	right -60px
	will-change right
.van-Gogh.shaked
	animation-delay 1s
	animation-duration 3s
	animation-name shaked
	animation-iteration-count 2
	transition .4s
.van-Gogh.stop
	animation-play-state: paused
@keyframes shaked {
	0% {
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes stopShake {
	100% {
		transform: rotate(0deg);
	}
}
.van-Gogh
	display block
	transition right 3s ease
	right -320px
	width: 273px
	height: 194px
	background-repeat no-repeat
	background-image url("/img/vincent.png")
	background-size cover
	position: fixed
	bottom 0
	z-index 999
	// animation-timing-function linear
	will-change display, right
	cursor pointer
	@media xs-all
		display none
	&__wrapper
		position absolute
		width 100%
		height 100%
	&__feedback
		z-index 999
		cursor default
		visibility hidden
		opacity 0
		background-image url("/img/fedback-bg.png")
		position absolute
		transform scale(0)
		right: 70px
		width: 100%
		height: 320px
		top: -280px
		background-size: contain
		background-repeat: no-repeat
		background-position: center
		padding 40px 50px 50px
		transition .5s
		i.fa
			cursor pointer
	&__feedback.active
		visibility visible
		transform scale(1)
		opacity 1
	&__title
		font-size 16px
		font-weight 500
		color #000
		text-align center
		padding-bottom 10px
	.form-control
		font-size: 14px
		color: #000
		background-color: inherit
		border: 0
		border-bottom: 1px solid #000
		border-radius unset
		margin-bottom 5px
		text-align center
	input::-webkit-input-placeholder
		color #000
	input::-moz-placeholder
		color #000
	input:-moz-placeholder
		color #000
	input:-ms-input-placeholder
	.error
		border-color #dc3545
		color #dc3545
	input.error::-webkit-input-placeholder
		color #dc3545
	input.error::-moz-placeholder
		color #dc3545
	input.error:-moz-placeholder
		color #dc3545
	input.error:-ms-input-placeholder
		color #dc3545
	&-button
		text-align: center;
		margin 20px 20px 0 20px
		position relative
		&:after
			left: 0;
			height: 1px;
			width: 60%;
			position: absolute;
			top: 0;
			background-color: #000;
			content: '';
			transition: all .5s linear;
		&:before
			right: 0;
			height: 1px;
			width: 70%;
			position: absolute;
			bottom: 0;
			background-color: #000;
			content: '';
			transition: all .5s linear;
		&:hover:before,
		&:hover:after
			transition: all .5s linear;
			width 100%
		button
			background-color: transparent;
			border: 0;
			padding 10px
			cursor pointer
			line-height 1
			font-size 16px
			&:hover
				color #6ec4c2
.modal-backdrop
	z-index 99 !important
		
@import '_index'
@import '_portfolio'
@import '_about-us'
@import '_services'
