footer.page-footer
	.container
		//- Тимка тут убери ров и колонки, и добавь врапер класс который ниже, спасибо! И все будет ок
		.page-footer__wrapper
			.page-footer__social
				p.page-footer__follow Мы в социальных медиа:
				.social-buttons
						a(href="#").social-button
							i.fa.fa-instagram
						a(href="#").social-button
							i.fa.fa-facebook-square
						a(href="#").social-button
							i.fa.fa-vimeo
			.page-footer__social
				.page-footer__year.
					2019
				.page-footer__text.
					© ИП “Nikways” Все права защищены