head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1.0, shrink-to-fit=no")
	title Nikways
	link(rel="stylesheet", href="../../vendor/bootstrap/bootstrap.min.css")
	link(rel="stylesheet", href="../../vendor/bootstrap-select/bootstrap-select.min.css")
	link(rel="stylesheet", href="../../vendor/slick/slick.css")
	link(rel="stylesheet", href="../../vendor/slick/slick-theme.css")
	link(rel="stylesheet", href="../../vendor/fancybox/jquery.fancybox.min.css")
	link(rel="stylesheet", href="../../vendor/font-awesome-4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="../../vendor/fullcalendar.min.css")
	link(rel="stylesheet", href="../../vendor/jquery.jscrollpane.css")
	link(rel="stylesheet", href="../css/style.css")
	link(rel='apple-touch-icon-precomposed', sizes='57x57', href='/img/favicon/apple-touch-icon-57x57.png')
	link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/img/favicon/apple-touch-icon-114x114.png')
	link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/img/favicon/apple-touch-icon-72x72.png')
	link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/img/favicon/apple-touch-icon-144x144.png')
	link(rel='apple-touch-icon-precomposed', sizes='60x60', href='/img/favicon/apple-touch-icon-60x60.png')
	link(rel='apple-touch-icon-precomposed', sizes='120x120', href='/img/favicon/apple-touch-icon-120x120.png')
	link(rel='apple-touch-icon-precomposed', sizes='76x76', href='/img/favicon/apple-touch-icon-76x76.png')
	link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/img/favicon/apple-touch-icon-152x152.png')
	link(rel='icon', type='image/png', href='/img/favicon/favicon-196x196.png', sizes='196x196')
	link(rel='icon', type='image/png', href='/img/favicon/favicon-96x96.png', sizes='96x96')
	link(rel='icon', type='image/png', href='/img/favicon/favicon-32x32.png', sizes='32x32')
	link(rel='icon', type='image/png', href='/img/favicon/favicon-16x16.png', sizes='16x16')
	link(rel='icon', type='image/png', href='/img/favicon/favicon-128.png', sizes='128x128')
	meta(name='application-name', content=' ')
	meta(name='msapplication-TileColor', content='#FFFFFF')
	meta(name='msapplication-TileImage', content='mstile-144x144.png')
	meta(name='msapplication-square70x70logo', content='/img/favicon/mstile-70x70.png')
	meta(name='msapplication-square150x150logo', content='/img/favicon/mstile-150x150.png')
	meta(name='msapplication-wide310x150logo', content='/img/favicon/mstile-310x150.png')
	meta(name='msapplication-square310x310logo', content='/img/favicon/mstile-310x310.png')