header(role='banner')
	.burger-click-region
		span.burger-menu-piece
		span.burger-menu-piece
		span.burger-menu-piece
	.burger-menu-txt
		a.logo(href="/html/index.html")
				.logo__wrap.logo__wrap__mobile
		.lang-wrap
			a(href="#") Каз
		.lang-wrap
			a(href="#") Рус
		.lang-wrap
			a(href="#") Eng
		.nav-wrap__mobile
			.nav-wrap
				a(href="/html/portfolio.html") Портфолио
			.nav-wrap
				a(href="#") Услуги
			.nav-wrap
				a(href="#feedback") Контакты

