<!DOCTYPE html>
html.page(lang="en")
	include _head.pug
	script(src="../vendor/jquery/jquery.min.js")
	script(src="../vendor/jquery/preloader.js")
	body
		.page-inner
			include _header.pug
			main.page-content
				<div class="vimeo-wrapper vimeo-wrapper-g on" data-src="<iframe src=&quot;https://player.vimeo.com/video/278539503?background=1&amp;autoplay=1&amp;loop=1&amp;byline=0&amp;title=0&quot; frameborder=&quot;0&quot; webkitallowfullscreen=&quot;webkitallowfullscreen&quot; mozallowfullscreen=&quot;mozallowfullscreen&quot; allowfullscreen=&quot;allowfullscreen&quot;>"><iframe src="https://player.vimeo.com/video/278539503?background=1&amp;autoplay=1&amp;loop=1&amp;byline=0&amp;title=0" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe></div>
				block content
			include _footer.pug
		script(src="../vendor/bootstrap/bootstrap.min.js")
		script(src="../vendor/slick/slick.min.js")
		script(src="../vendor/fancybox/jquery.fancybox.min.js")
		script(src="../js/all.min.js")