extends _layout.pug

block content
	.about-us#about-us
		.container
			.portfolio__header
				.row
					.col-2
						a.logo(href="/html/index.html")
							.logo__wrap
					.col-5
						.lang-wrap
							a(href="#") Каз
						.lang-wrap
							a(href="#") Рус
						.lang-wrap
							a(href="#") Eng
					.col-5
						.nav-wrap
							a(href="#") Портфолио
						.nav-wrap
							a(href="#") Услуги
						.nav-wrap
							a(href="#") Контакты
			.about-us__title Об агентстве
			.about-us__content
				.about-us__items
					.about-us__desc
						h1 Концепция
						| Авиабилеты онлайн – Казахстанский сервис по продаже авиабилетов онлайн. Автоматизированный поиск и бронирование авиабилетов позволяет мгновенно найти и забронировать наиболее дешевый электронный 
					.about-us__pic
				.about-us__items
					.about-us__big-pic
						iframe(src="https://player.vimeo.com/video/278539503?&autoplay=1&loop=1&byline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
					.about-us__text команда, м?