extends _layout.pug

block content
	.portfolio#portfolio
		.container
			.portfolio__header
				.row
					.col-2
						a.logo(href="/html/index.html")
							.logo__wrap
					.col-5
						.lang-wrap
							a(href="#") Каз
						.lang-wrap
							a(href="#") Рус
						.lang-wrap
							a(href="#") Eng
					.col-5
						.nav-wrap
							a(href="#") Портфолио
						.nav-wrap
							a(href="#") Услуги
						.nav-wrap
							a(href="#") Контакты
			.portfolio__tabs
				ul#myTab.nav.nav-tabs(role='tablist')
					li.nav-item
						a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Видеопродакшн
					li.nav-item
						a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Фото
					li.nav-item
						a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Дизайн
				.portfolio__title Портфолио
				#myTabContent.tab-content
					#home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
						.portfolio__tabs-title Видеопродакшн
						.row
								.portfolio__tabs-items
									.portfolio__tabs-pic
									.portfolio__tabs-desc
										h1 Aviata
										| Клиент: Aviata текст тект текст Клиент: Aviata текст тект текст Клиент: Aviata текст тект текст
										.portfolio__tabs-more
											a(href="#",data-toggle="modal",data-target="#portfolio__modal").
												Подробнее
								.portfolio__tabs-items
									.portfolio__tabs-pic
									.portfolio__tabs-desc
										h1 Aviata
										| Клиент: Aviata текст тект текст
								.portfolio__tabs-items
									.portfolio__tabs-pic
									.portfolio__tabs-desc
										h1 Aviata
										| Клиент: Aviata текст тект текст
								.portfolio__tabs-items
									.portfolio__tabs-pic
									.portfolio__tabs-desc
										h1 Aviata
										| Клиент: Aviata текст тект текст
								.portfolio__tabs-items
									.portfolio__tabs-pic
									.portfolio__tabs-desc
										h1 Aviata
										| Клиент: Aviata текст тект текст
								.portfolio__tabs-items
									.portfolio__tabs-pic
									.portfolio__tabs-desc
										h1 Aviata
										| Клиент: Aviata текст тект текст
								.portfolio__tabs-items
									.portfolio__tabs-pic
										<iframe width="100%" height="100%" src="https://www.youtube.com/embed/SFQxkupJE5A?list=RDSFQxkupJE5A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									.portfolio__tabs-desc
										h1 Aviata
										| Клиент: Aviata текст тект текст
					#profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
						.portfolio__tabs-title Фото
						.row
								.portfolio__tabs-items
									.portfolio__tabs-pic
									.portfolio__tabs-desc
										h1 Aviata
										| Клиент: Aviata текст тект текст
								.portfolio__tabs-items
									.portfolio__tabs-pic
									.portfolio__tabs-desc
										h1 Aviata
										| Клиент: Aviata текст тект текст
								.portfolio__tabs-items
									.portfolio__tabs-pic
									.portfolio__tabs-desc
										h1 Aviata
										| Клиент: Aviata текст тект текст
								.portfolio__tabs-items
									.portfolio__tabs-pic
									.portfolio__tabs-desc
										h1 Aviata
										| Клиент: Aviata текст тект текст
								.portfolio__tabs-items
									.portfolio__tabs-pic
									.portfolio__tabs-desc
										h1 Aviata
										| Клиент: Aviata текст тект текст
								.portfolio__tabs-items
									.portfolio__tabs-pic
									.portfolio__tabs-desc
										h1 Aviata
										| Клиент: Aviata текст тект текст
								.portfolio__tabs-items
									.portfolio__tabs-pic
										<iframe width="100%" height="100%" src="https://www.youtube.com/embed/SFQxkupJE5A?list=RDSFQxkupJE5A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									.portfolio__tabs-desc
										h1 Aviata
										| Клиент: Aviata текст тект текст
					#contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') ...
		#portfolio__modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolio__modal-label', aria-hidden='true')
			.modal-dialog(role='document').modal-lg
				.modal-content
					.modal-header
						h5#portfolio__modal-label.modal-title Aviata
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
					.modal-body
						p.
							Клиент: Aviata текст тект текст
							Авиабилеты онлайн – Казахстанский сервис по продаже авиабилетов онлайн. Автоматизированный поиск и бронирование авиабилетов позволяет мгновенно найти и забронировать наиболее дешевый электронный
						.modal-pic
							img(src="/img/index/Bitmap.png")
					.modal-footer