extends _layout.pug

block content
	.services-inside
		.container
			.portfolio__header
				.row
					.col-2
						a.logo(href="/html/index.html")
							.logo__wrap
					.col-5
						.lang-wrap
							a(href="#") Каз
						.lang-wrap
							a(href="#") Рус
						.lang-wrap
							a(href="#") Eng
					.col-5
						.nav-wrap
							a(href="#") Портфолио
						.nav-wrap
							a(href="#") Услуги
						.nav-wrap
							a(href="#") Контакты
			.services-slider__wrapper
				.services-slider__prev.slick-arrow
				.services-slider__next.slick-arrow
				.services-inside__wrapper.services-slider
					.services-inside__slide
						.services-inside__title.
							Креатив и стратегия
						.services-inside__items
							.services-inside__name.
								Продуктивная стратегия
							.services-inside__nav.active__nav.
								Стратегия присутствия в социальных сетях
							.services-inside__nav.
								Продуктовая стратегия
							.services-inside__nav.
								Креативная концепция 
							.services-inside__desc.
								Авиабилеты онлайн – Казахстанский сервис по продаже авиабилетов онлайн. Автоматизированный поиск и бронирование авиабилетов позволяет мгновенно найти и забронировать наиболее дешевый электронный 
						.services-inside__items
							.services-inside__pic
					.services-inside__slide
						.services-inside__title.
							Креатив и стратегия
						.services-inside__items
							.services-inside__name.
								Продуктивная стратегия
							.services-inside__nav.active__nav.
								Стратегия присутствия в социальных сетях
							.services-inside__nav.
								Продуктовая стратегия
							.services-inside__nav.
								Креативная концепция 
							.services-inside__desc.
								Авиабилеты онлайн – Казахстанский сервис по продаже авиабилетов онлайн. Автоматизированный поиск и бронирование авиабилетов позволяет мгновенно найти и забронировать наиболее дешевый электронный 
						.services-inside__items
							.services-inside__pic
							